$vimala_woff: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/Vimala/Vimala.woff?f75ba";
$vimala_woff2: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/Vimala/Vimala.woff2?a3b10";

$pustaka_bali_woff: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/PustakaBali/PustakaBali.woff?7c072";
$pustaka_bali_woff2: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/PustakaBali/PustakaBali.woff2?6b142";

$kadiri_woff: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/Kadiri/Kadiri.woff?98297";
$kadiri_woff2: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/Kadiri/Kadiri.woff2?0cfa1";
