@import '../src/vars.scss';
@import './fonts.scss';
@import './fonts-custom.scss';

@font-face {
    font-family: "Kadiri";
    src: url(#{$kadiri_woff2}) format('woff2'),
         url(#{$kadiri_woff}) format('woff');
    unicode-range: U+1B00-1B7F;
}

@font-face {
    font-family: "Pustaka Bali";
    src: url(#{$pustaka_bali_woff2}) format('woff2'),
         url(#{$pustaka_bali_woff}) format('woff');
    unicode-range: U+1B00-1B7F;
}

@font-face {
    font-family: "Vimala";
    src: url(#{$vimala_woff2}) format('woff2'),
         url(#{$vimala_woff}) format('woff');
    unicode-range: U+1B00-1B7F;
}

body {
  font-family: $fonts, sans-serif;
}

.transcription, .transliteration, .translation {
  white-space: pre-wrap;
  word-break: break-all;
  margin: 20px 0;
}

.transcription {
  line-height: 1.9;
}

.heading-small {
  font-size: 0.9em;
  margin-bottom: 3px;
}

.mw-editfont-monospace {
  font-family: $fonts, monospace, monospace;
}

.thumbinner {
  max-width: 100%;
}

img.thumbimage {
  width: 100%;
  height: auto;
}
