$fonts: "Vimala", "Noto Serif Balinese", "Noto Sans Balinese";

$vimala_woff: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/Vimala/Vimala.woff?f75ba";
$vimala_woff2: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/Vimala/Vimala.woff2?a3b10";

$pustaka_bali_woff: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/PustakaBali/PustakaBali.woff?7c072";
$pustaka_bali_woff2: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/PustakaBali/PustakaBali.woff2?6b142";

$kadiri_woff: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/Kadiri/Kadiri.woff?98297";
$kadiri_woff2: "//w/extensions/UniversalLanguageSelector/data/fontrepo/fonts/Kadiri/Kadiri.woff2?0cfa1";

$fontSize: 16pt;

$imageTop: 0;
$imageHeight: 40%;
$imageHeightExpanded: 50%;

$textTop: $imageHeight;
$textTopExpanded: $imageHeightExpanded;
$textHeight: 20%;
$textHeightExpanded: 100% - $imageHeightExpanded;

$keyboardTop: $imageHeight + $textHeight;
$keyboardHeight: 100% - $keyboardTop;

@function vh($val) {
  @return calc(var(--vh, 1vh) * #{$val});
}

@mixin pane {
  position: absolute;
  left: 0;
  width: 100%;
}

@mixin wrap {
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-break: break-all;
}
